html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.modelEditorText{
    width: 100%;
    left:0;
    position: absolute;
    bottom: 0;
}
.modelEditorText__input{
    width: 100%;
    line-height: 18px;
    font-size: 18px;
    font-family: monospace;
    text-align: center;
}
.eventEditorText{
    width: 100%;
    left:0;
    position: absolute;
    bottom: 25px;
}
.eventEditorText__input{
    width: 100%;
    line-height: 18px;
    font-size: 18px;
    font-family: monospace;
    text-align: center;
}
.modelEditorLabel {
    bottom: 60px;
    position: absolute;
    padding: 0 40px;
    width: calc(100% - 80px);
    overflow: hidden;
    font-family: monospace;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.callstack__containerLabel {
    position: relative;
    width: 100%;
    height: 10em;
    overflow: auto;
    border-top: 1px solid lightgray;
}

.callstackLabel {
    width: 100%;
    font-family: monospace;
}